body{
		background-color: #25274d;
	}
        .col-md-7{
            padding: 6%;
            padding-top: 10%;
        }
        
	.register{
		padding: 6%;
		height: 600px;
	}
	.col-md-3{
		background: #ff9b00;
		padding: 7%;
		border-top-left-radius: 0.5rem;
		border-bottom-left-radius: 0.5rem;
	}
	.register-info{
		margin-top:15%;
	}
	.register-info img{
		margin-bottom: 15%;
	}

	.register-form button{
		background: #25274d;
		color: #fff;
		font-weight: 600;
		width: 25%;
	}
	
        .register-form{
            padding-top: 70px;
            padding-bottom: 50px;
            background-color:lightblue;
        }